.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-container{
  min-height: 200px;
}

.card-container {
  min-height: 200px;
  align-self: bottom;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card-btn {
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 600;
  color: #282c34;
}

.card-btn:hover {
  color: #181a1e;
  cursor: pointer;
}

.btn-unique:active {
  background-color: #101114;
}